/* General Effects */
body {
    height:  100%;
    font-family:  arial, sans-serif;
    font-size:  10px;
    display:  flex;
    justify-content: center;
    flex-direction:  column;
    align-items: center;

}
/*Nav Bar*/

.topnav{
    display:  flex;
    flex-direction:  space-between;
    padding: 10px;
    position:  fixed;
    width:  100%;
    left:  0px;
    top:  0px;
}
    
    .topnav a{
        color:  inherit;
        text-decoration:  none;
    }


.topnav li{
    display:  inline-block;
    padding:  5px;
    margin:  0 5px;
    color:  #222222;
    font-size:  14px;
}

    .topnav li: hover{
    text-decoration:  underline
    }

.navitems1 {
        flex-grow:  1;
        display:  flex;
        align-items:  center;
}

.navitems2{
    flex-grow:  1;
    padding-right:  15px;
}

.leftnav {
    list-style-type:  none;
    margin:  0;
    padding: 0;
    text-align:  left;
}

.rightnav {
    list-style-type:  none;
    margin:  0;
    padding:  0;
    text-align:  right;
}

.imgresize {
    height:  auto;
    height:  32px;
    width: 32px;
}



/*Search Bar*/

.grid-box-container{
    display:  grid;
    grid-template-columns: repeat (4, 1fr);
    grid-auto-rows:  2fr 1fr 1fr 1fr;
    gap:  20px;
    margin:  auto;
    margin-top:  200px;
    width:  700px;
    padding:  10px
}
    .first-row-grid{
        grid-column: 1 / 5;
        grid-row:  1;
    }
    .second-row-search-icon{
        grid-column: 1;
        grid-row:  2;
        z-index: 2;
    }

    .second-row-mic-icon{
        grid-column:  4;
        justify-self:  end;
        grid-row:  2;
        z-index: 2;
    }
    .second-row-grid{
        grid-column: 1 / 5;
        grid-row:  2;
    }
    .third-row-first-button{
        grid-column: 2 / 3;
        grid-row: 3;
    }
    .third-row-second-button{
        grid-column:  3 / 4;
        grid-row: 3;
    }
    .fourth-row-grid{
        grid-column:  2 / 4;
        grid-row:  4;
    }

.googlelogo{
        width:  300px;
        display:  block;
        margin-left:  auto;
        margin-right:  auto;
    }

.search-bar{
    width:  85%;
    height:  2.5rem;
    padding: 0.25rem 4rem;
    border:  1px solid #ced4da;
    border-radius:  2rem;
    display:  block; 
    margin-left:  auto;
    margin-right;  auto;
}
    .search-bar:hover {
        filter:  drop-shadow(4px 4px 5px #ced4da)
    }
    
    .searchicon{
        display:  block;
        margin-left:  20px;
        margin-top:  10px;
        z-index:  1;
    }
    .micicon{
        display:  block;
        margin-left:  20px;
        margin-top:  10px;
        z-index:  1;
    }
.firstbutton {
    width:  150px;
    height:  40px;
    background:  #f8f9fa;
    border-radius:  2px;
    border-style:  none;
    cursor:  pointer;
    display:  block;
    margin-left: 40px;
}
    .firstbutton:hover{
        border:  2px solid darkgrey;
    }
    .firstbutton: visited {
        border:  2px solid #4285f4;
    }

.secondbutton{
    width:  150px;
    height:  40px;
    background:  #f8f9fa;
    border-radius: 2px;
    border-style:  none;
    cursor:  pointer;
    display:  block;
    margin-left:  5px;
}
    .secondbutton:hover{
        border:  2px solid darkgrey;
    }
    .secondbutton:visited{
        border:  2px solid #4285f4
    }

.fourth-row-grid{
    text-align:  center;
}
    .fourthrowgrid a{
        text-decoration:  none;
    }

    .fourthrowgrid a:hover{
        text-decoration: underline;
    }


/*bottom*/
.foot-items {
    display:  flex;
    flex-direction: space-between;
    padding:  15px;
    position:  fixed;
    width:  100%;
    left:  0px;
    bottom:  0px;  
    background-color: #f2f2f2;
}

    .foot-items a {
        color: inherit;
        text-decoration: none;
    }
    
    .footitems1 {
        flex-grow: 1;
        margin-left:  10px;
    }
    .footitems2 {
        flex-grow: 1;
        margin-right:  30px;
    }
    .footitems3 {
        flex-grow:  2;
    }

.left-footer-items {
    list-style-type: none;
    margin:  auto;
    padding:  0;
    text-align:  left;
}

.right-footer-items {
    list-style-type: none;
    margin:  auto;
    padding:  0;
    text-align:  right;
}
.middlefooter{
    list-style: none;
    margin:  auto;
    padding:  0;
    text-align:  start;
}
.foot-items li{
    display:  inline-block;
    padding:  5px 10px;
    margin: 0 5px;
    color:  #6f6f6f;
    font-size:  14px
}
    .foot-items li: hover {
        text-decoration:  underline;
    }

}

}